<div id="header">
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../../assets/logo_blanco.svg" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Sistema Ingenieria P2</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <!-- aqui el menu-->
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">Consumibles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Manuales Instructivos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Boom Lista</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Stock</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Archivos</a>
                  </li>
                <!-- aqui el dropdown-->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   Lineas Planta 2
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="#">Linea x : Rhode 5G</a></li>
                    <li><a class="dropdown-item" href="#">Linea x : Bora 232</a></li>
                    <li><a class="dropdown-item" href="#">Linea x : Hawaii</a></li>
                    <li><a class="dropdown-item" href="#">Linea x : Dubaii</a></li>
                    <li><a class="dropdown-item" href="#">Linea x : Frontier</a></li>
                    <li><a class="dropdown-item" href="#">Linea x : Thundra</a></li>
                  </ul>
                </li>
              </ul>
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-success" type="submit">Buscar</button>
              </form>
            </div>
          </div>
        </div>
      </nav>

    
</div>
