<div class="wrapper">
    <div class="body">
        <img class="logo" src="../../../assets/img/user.png" alt="Login">
        <h1 id="title">Recuperar</h1>
        <form id="form" action="">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
              </div>
              <div class="d-grid gap-2 mb-3">
                <button class="btn btn-success btn-lg mb-3" type="button">Recuperar</button>
              </div>
              <div id="txt">
                <a routerLink="/login">Volver</a>
              </div>
             
        </form>
    </div>